<%= provide :page_title, t("admin.manage_book") %>
<div class="header">
  <div id="search-book-form">
    <%= form_tag admin_books_path, method: :get do %>
      <%= text_field_tag :search_text, params[:search_text],
                         placeholder: t("books.index.enter_book_title"),
                         class: "input-text nunito" %>
      <%= select_tag :genre_id, options_for_select(get_genres_for_filter),
                     class: "input-select nunito" %>
      <%= submit_tag t("search"), class: "btn btn-primary my-button" %>
    <% end %>
  </div>
  <div id="add-book-button">
    <%= link_to t(".add_new_book"), "#",
                class: "my-button btn btn-primary" %>
  </div>
</div>
<div id="books-table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= t ".title" %></th>
      <th><%= t ".author" %></th>
      <th><%= t ".genre" %></th>
      <th><%= t ".total_pages" %></th>
      <th><%= t ".number_of_review" %></th>
      <th><%= t ".average_rating" %></th>
      <th><%= t ".is_lock" %></th>
      <th><%= t ".more_action" %></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "admin/books/book", collection: @books %>
    </tbody>
  </table>
</div>
<%== pagy_nav @pagy %>
