<ul class="page-header">
  <li><h2 class="page-title"><%= t ".personal_page" %></h2></li>
  <%= render "shared/language" %>
</ul>
<div id="personal-page" class="information-detail">
  <div id="user-information" class="information bold nunito">
    <%= image_tag get_avatar_url(@user), alt: t("avatar") %>
    <div class="other-infor">
      <div class="infor-row">
        <span><%= t "name" %>:</span>
        <span class="green"><%= @user.name %></span>
      </div>
      <div class="infor-row">
        <span><%= t "email" %>:</span>
        <span class="green"><%= @user.email %></span>
      </div>
      <div class="infor-row">
        <%= link_to following_user_path @user do %>
          <span><%= t "following" %>:</span>
          <span class="green"><%= @user.following.count %></span>
        <% end %>
      </div>
      <div class="infor-row">
        <%= link_to followers_user_path @user do %>
            <span><%= t "followers" %>:</span>
            <span id="followers" class="green"><%= @user.followers.count %></span>
        <% end %>
      </div>
      <%= render "follow_form" if logged_in? %>
    </div>
  </div>
  <% unless @all_reviews.blank? %>
    <div id="review-container">
      <div id="reviews_list">
        <%= render partial: "reviews/reviews",
                   locals: {reviews: @reviews, show_book_title: true} %>
        <%== pagy_nav @pagy %>
      </div>
    </div>
  <% end %>
</div>
