<div id="book-card-wrapper">
  <%= link_to book_path book do %>
    <div id="book-card">
      <div id="cover">
        <%= image_tag get_cover_url(book), alt: t("book_cover") %>
      </div>
      <div id="information">
        <div id="rating" class="info-row">
          <%= image_tag "black_star.png", class: "star" %>
          <span><%= get_average_rating book %></span>
        </div>
        <div id="title" class="info-row">
          <span><%= book.title %></span>
        </div>
        <div id="author" class="info-row">
          <span><%= get_authors_name book %></span>
        </div>
      </div>
  <% end %>
</div>
</div>
