<ul class="page-header">
  <li><h2 class="page-title"><%= t ".book_detail" %></h2></li>
  <%= render "shared/language" %>
</ul>
<div id="book-detail" class="information-detail">
  <div id="book-information" class="information">
    <div id="cover">
      <%= image_tag get_cover_url(@book), alt: t("book_cover") %>
    </div>
    <div id="infor-container">
      <div id="title" class="infor">
        <span><%= @book.title %></span>
      </div>
      <div id="authors" class="infor">
        <span class="bold"><%= t ".author" %>:</span>
        <span class="bold green"><%= get_authors_name @book %></span>
      </div>
      <div id="genres" class="infor">
        <span class="bold"><%= t ".genres" %>:</span>
        <span class="bold green"><%= get_genres_name @book %></span>
      </div>
      <div id="total_pages" class="infor">
        <span class="bold"><%= t ".total_pages" %>:</span>
        <span class="bold green"><%= get_total_pages @book %></span>
      </div>
      <div id="average_rating" class="infor">
        <span class="bold"><%= t ".average_rating" %>:</span>
        <span class="bold green"><%= get_average_rating @book %></span>
      </div>
      <div id="description" class="infor nunito">
        <p><%= @book.description %></p>
      </div>
    </div>
  </div>

  <div id="review-container" class="review-container">
    <div id="create-review">
      <span class="header-title green bold">
        <%= t ".write_review" %>
      </span>
      <div id="review-form">
        <% if logged_in? %>
          <% if current_user.had_review? @book.id %>
            <span class="nunito">
              <%= t ".have_reviewed" %>.
            </span>
          <% else %>
            <%= render partial: "reviews/review_form",
                       locals: {button_text: t("post")} %>
          <% end %>
        <% else %>
          <span class="nunito">
            <%= t ".sign_in_to_review" %>.
          </span>
        <% end %>
      </div>
    </div>
    <span class="header-title green bold">
      <%= link_to t(".all_reviews"), book_path(@book), class: "green bold" %>:
      <%= @pagy.count %>
    </span>
    <% if @reviews.present? %>
      <%= render "reviews/statistic_review" %>
      <div id="reviews_list">
        <%= render partial: "reviews/reviews",
                   locals: {reviews: @reviews, show_book_title: false} %>
        <%== pagy_nav @pagy %>
      </div>
    <% end %>
  </div>
</div>
