<div class="review-card" id="review-card-<%= review.id %>">
  <% user = find_user_by_id review.user_id %>
  <div class="image">
    <%= image_tag get_avatar_url(user), alt: t("avatar"), class: "avatar" %>
  </div>
  <div class="infor">
    <div class="user-name bold nunito">
      <% if show_book_title %>
        <% book = find_book_by_input_id review.book_id %>
        <%= link_to user.name, user_path(user), class: "green" %>
        <span><%= t "reviewed_for" %></span>
        <%= link_to book.title, book_path(book), class: "green" %>
      <% else %>
        <%= link_to user.name, user_path(user), class: "green" %>
      <% end %>
    </div>
    <div class="form">
      <div class="rating">
        <% Settings.book.MAX_RATING.times do |n| %>
          <% if n + 1 <= review.rating %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
      </div>
      <div class="review-content nunito">
        <p><%= review.content %></p>
      </div>
      <div class="create-at nunito">
        <span><%= get_time_create review %></span>
      </div>
      <% if logged_in? %>
        <div class="review-action bold">
          <% if can_update_review? review %>
            <%= link_to t("update"), edit_review_path(review), remote: true %>
          <% end %>
          <% if can_delete_review? review %>
            <%= link_to t("delete"), review_path(review), method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
